body {
  /*font-family: "Lato", sans-serif;*/
  font-family: "Pathway Gothic One", sans-serif;
  transition: background-color 0.5s;
  margin: auto;
  max-width: 600px;
  padding-left: 8%;
  padding-right: 8%;
}

a {
  text-decoration: 0.5px underline;
  text-decoration-style: dotted;
  color: grey;
}

.start-maintitle {
  font-family: "Bitter";
  font-style: italic;
  font-size: xx-large;
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
}

.start-lauftext {
  text-align: center;
  font-size: normal;
}

img.symbolbild {
  border-radius: 50%;
  border: 2px solid lightgray;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

.start-button {
  background-color: rgb(66, 65, 65, 255);
  border: none;
  color: white;
  padding: 21px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin: 9px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.start-button1 {
  background-color: rgb(112, 105, 90, 255);
}

.start-button:hover {
  background-color: rgb(26, 24, 24);
}

.literaturverzeichnis-button {
  font-size: small;
  line-height: 2.4;
  background-color: none;
  border: 1.3px solid gray;
  border-radius: 0%;
  color: gray;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  margin-left: 26px;
}

.literaturverzeichnis-button:hover {
  border: 1.3px solid rgb(26, 24, 24);
  color: rgb(26, 24, 24);
  background-color: rgb(250, 250, 250);
}

.lauftext {
  font-family: "Bitter";
  line-height: 1.2;
  hyphens: auto;
  /*text-align: justify;*/
}

.quellentext {
  font-family: "Bitter";
  line-height: 1.2;
  font-style: italic;
  hyphens: auto;
}

.literaturangaben {
  font-family: "Bitter";
  font-size: small;
  hyphens: auto;
  /*text-align: justify;*/
}

.literaturverzeichnis {
  text-indent: -1em;
  margin: 1em;
  font-family: "Bitter";
  line-height: 1.2;
  hyphens: auto;
}

.literaturverzeichnis p {
  margin: 8px 0px;
}

.bildlegende {
  color: gray;
  margin: 4px 0px 18px 0px;
}

sup {
  font-size: small;
  vertical-align: baseline;
}

/*sup a {
    text-decoration: none;
    color: grey;    
  }*/

nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  min-height: 8vh;
  background-color: none;
  font-family: "Pathway Gothic One", sans-serif;
}

.toptitleline {
  color: none; /*= Schriftfarbe*/
  text-transform: unset;
  letter-spacing: 2px;
  font-size: 21px;
}

.sidenav {
  height: 95%; /*bei 100% funktioniert das Scrollen nicht recht*/
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 26px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav li {
  list-style: none;
}

.sidenav ul ul a {
  font-size: 19px;
  font-weight: normal;
}

.sidenav a:hover {
  color: #cfcece;
}

.sidenav .closebtn {
  position: absolute;
  top: 8px;
  right: 8%;
  font-size: 45px;
  margin-left: 50px;
  color: black;
}

/*.sidenav .closebtn:hover {
    transform: rotate(90deg);
    color: black;
  }*/

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 350px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .sidenav ul ul a {
    font-size: 15px;
  }
}

.burger {
  display: block;
  cursor: pointer;
}

.burger div {
  width: 23px;
  height: 2px; /*burger-strich dicke*/
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

hr {
  border: 1.5px solid lightgray;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

/* Slideshow-Gallery */
.slideshow-gallery {
  box-sizing: border-box;
}
.mySlides {
  display: none;
}
.gallery-img {
  vertical-align: middle;
  border-radius: 50%;
}

/* Slideshow-Gallery: Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Slideshow-Gallery: Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 2px 16px 2px 16px;
  margin-top: -34px;
  color: white;
  font-weight: lighter;
  /*text-shadow: 2px 2px rgb(95, 95, 95);*/
  font-size: 42px;
  transition: 0.6s ease;
  user-select: none;
  text-decoration: none;
}

/* Slideshow-Gallery: Position the "next button" to the right */
.next {
  right: 0;
}

/* Slideshow-Gallery: On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  /*background-color: rgba(0,0,0,0.8);*/
  padding: 2px 8px 2px 8px;
}

/* Slideshow-Gallery: The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 11px;
  width: 11px;
  margin: 0 2px;
  background-color: none;
  border: 3px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top: -44px;
}

.active,
.dot:hover {
  background-color: white;
}

/* Slideshow-Gallery: Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Slideshow-Gallery: On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/*Stationen Flex-Container*/

.flex-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  background-color: rgb(112, 105, 90);
  color: white;
}

.flex-container1:hover {
  background-color: rgb(26, 24, 24);
}

.flex-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  background-color: rgb(66, 65, 65, 255);
  color: white;
}

.flex-container2:hover {
  background-color: rgb(26, 24, 24);
}

.flex-container1 p {
  font-family: "Bitter";
  font-weight: 400;
  font-style: normal;
  font-size: smaller;
}

.flex-container2 p {
  font-family: "Bitter";
  font-weight: 400;
  font-style: normal;
  font-size: smaller;
}

.flex-container-img {
  width: 87%; /**/
  border-radius: 0%;
}

.img-col {
  width: 35%;
  flex-basis: 60%;
}

.text-col {
  width: 65%;
}
